.background-1 {
    -fx-background-color: -fu-background-1;
}

.background-2 {
    -fx-background-color: -fu-background-2;
}

.background-3 {
    -fx-background-color: -fu-background-3;
}

.background-4 {
    -fx-background-color: -fu-background-4;
}