.background-1 {
    -fx-background-color: -fu-background-1;
}

.background-2 {
    -fx-background-color: -fu-background-2;
}

.background-3 {
    -fx-background-color: -fu-background-3;
}

.background-4 {
    -fx-background-color: -fu-background-4;
}


.background-pop-up {
    -fx-background-color: -fu-background-3;
    -fx-background-radius: 6;
    -fx-border-radius: 6;
    -fx-border-color: -fu-stroke-colors;
    -fx-border-width: 2;
}


.card-transaction-singletran {
    -fx-background-color: -fu-background-2;
    -fx-background-radius: 0 0 6 6;
}

.card-transaction-singletran-up{
    -fx-background-color: -fu-background-2;
    -fx-background-radius: 0 6 0 0;
}

.card-transaction-date {
    -fx-background-color: -fu-background-2;
    -fx-background-radius: 6 6 0 0;
}