.button* {
    -fx-text-fill: -fu-text-1;
    -fx-background-color: -fu-stroke-rest, -fu-foreground-rest;
    -fx-background-insets: 0, 2;
    -fx-background-radius: 6, 4;
    -fx-padding: 8 5 8 5;
    -fx-text-alignment: CENTER;
    -fx-alignment: CENTER;
}

.icon_general {
    -fx-fill: -fu-text-1;
    -fx-padding: 9 15 9 15;
}
.button:hover {
    -fx-background-color: -fu-stroke-hover, -fu-foreground-hover;
}

.button:pressed {
    -fx-background-color: -fu-stroke-pressed, -fu-foreground-pressed;
}

.button:selected {
    -fx-background-color: -fu-stroke-selected, -fu-foreground-selected;
}

.button:disabled {
    -fx-opacity: 0.5;
}


.toggle-button {
    -fx-text-fill: -fu-text-1;
    -fx-background-color: -fu-stroke-rest, -fu-foreground-rest;
    -fx-background-insets: 0, 2;
    -fx-background-radius: 6, 4;
    -fx-padding: 5;
}

.toggle-button:hover {
    -fx-background-color: -fu-stroke-hover, -fu-foreground-hover;
}

.toggle-button:pressed {
    -fx-background-color: -fu-stroke-pressed, -fu-foreground-pressed;
}

.toggle-button:selected {
    -fx-background-color: -fu-accent, -fu-foreground-selected;
}

.icon-toggle-button:selected {
    -fx-background-color: -fu-stroke-selected, -fu-foreground-selected;
}

.icon-toggle-button {
    -fx-padding: 8 15 8 15;
}

.icon-toggle-button:selected:hover {
    -fx-background-color: -fu-stroke-hover, -fu-foreground-hover;
}

.icon-toggle-button:selected:pressed {
    -fx-background-color: -fu-stroke-pressed, -fu-foreground-pressed;
}


.buttons_login_register_secondary {
    -fx-text-fill: -fu-accent;
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-background-radius: 6;
    -fx-padding: 5;
    -fx-text-alignment: CENTER;
    -fx-alignment: CENTER;
}

.buttons_login_register_secondary:hover {
    -fx-background-color: transparent;
    -fx-opacity: 0.5;
}

.buttons_login_register_secondary:pressed {
    -fx-background-color: transparent;
}

.buttons_login_register_secondary:disabled {
    -fx-opacity: 0.5;
}


.edit-profile-button {
    -fx-text-fill: -fu-accent;
    -fx-opacity: 0.8;
    -fx-background-color: transparent;
    -fx-padding: 0;
    -fx-border-color: transparent;
    -fx-alignment: center-left;
}

.edit-profile-button:hover {
    -fx-text-fill: -fu-accent;
    -fx-opacity: 1;
    -fx-background-color: transparent;
    -fx-padding: 0;
    -fx-border-color: transparent;
}

.edit-profile-button:pressed {
    -fx-text-fill: -fu-accent;
    -fx-opacity: 1;
    -fx-background-color: transparent;
    -fx-padding: 0;
    -fx-border-color: transparent;

}

.edit-profile-button:selected {
    -fx-text-fill: -fu-accent;
    -fx-opacity: 1;
    -fx-background-color: transparent;
    -fx-padding: 0;
    -fx-border-color: transparent;
}

.logout-button SVGPath {
    -fx-fill: -fu-text-1;
    -fx-opacity: 0.5;
}

.logout-button:hover SVGPath{
    -fx-fill: -fu-text-1;
    -fx-opacity: 1;
}

.logout-button:pressed SVGPath{
    -fx-fill: -fu-text-1;
    -fx-opacity: 1;
}

.logout-button:selected SVGPath{
    -fx-fill: -fu-text-1;
    -fx-opacity: 1;
}

.logout-button {
    -fx-background-color: transparent;
    -fx-padding: 0;
    -fx-border-color: transparent;
}

.logout-button:hover {
    -fx-background-color: transparent;
    -fx-padding: 0;
    -fx-border-color: transparent;
}

.logout-button:pressed {
    -fx-background-color: transparent;
    -fx-padding: 0;
    -fx-border-o: transparent;
}

.logout-button:selected {
    -fx-background-color: transparent;
    -fx-padding: 0;
    -fx-border-color: transparent;
}

.arrow-date{
    -fx-background-color: transparent;

}

.arrow-date SVGPath{
    -fx-fill: -fu-text-1;
}

.arrow-date:hover{
    -fx-background-color: transparent;

}

.arrow-date:hover SVGPath{
    -fx-fill: -fu-accent;
    -fx-opacity: 0.8;
}

arrow-date:pressed{
    -fx-background-color: transparent;

}

.arrow-date:pressed SVGPath{
    -fx-fill: -fu-accent;
    -fx-opacity: 1;
}

arrow-date:selected{
    -fx-background-color: transparent;

}

.arrow-date:selected SVGPath{
    -fx-fill: -fu-accent;
    -fx-opacity: 1;
}

