.card-conto-clip {
    -fx-border-radius: 10;
}

.card-conto-display {
    -fx-background-color: -fu-background-1;
    -fx-background-radius: 10;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.20), 5, 0.2, 0, 0);
}

.card-conto-edit {
    -fx-padding: 20 0 20 0;
    -fx-background-color: -fu-background-1;
    -fx-background-radius: 10;
}