.category_editor {
    -fx-background-insets: 5 0 0 0;
    -fx-background-radius: 5;
    -fx-border-color: transparent;
    -fx-border-radius: 5;
    -fx-border-style: dashed;
}

.category_editor:hover .separator .line {
    -fx-border-color: -fu-stroke-pressed;
}

.category_editor:pressed {
    -fx-background-color: transparent;
}

.category_editor:selected .separator .line {
    -fx-border-color: -fu-accent;
}

.category_editor:selected .hseparator .line {
    -fx-border-color:  -fu-stroke-pressed;
}

.category_editor:contorno_abilitato {
    -fx-border-color: -fu-accent;
}

.category_editor:selected {
    -fx-background-color: transparent;
}

.category_editor:selected:pressed {
    -fx-background-color: -fu-foreground-pressed;
}

.category_editor .separator {
    -fx-padding: 3 0 0 0;
    -fx-background-color: transparent;
}

.category-background {
    -fx-background-color: -fu-foreground-rest;
    -fx-background-radius: 6;
    -fx-border-color: transparent;
}


.category_editor .double-click:phase_1 {
    -fx-background-color: -fu-accent;
}

.category_editor .double-click:phase_1:hover {
    -fx-background-color: -fu-foreground-selected;
}

.category_editor .double-click:phase_1:pressed {
    -fx-background-color: -fu-foreground-selected;
    -fx-text-fill: -fu-accent;
}