.category-type-toggle {
    /*background, accent*/
    -fx-background-color: rgba(0, 0, 0, 0), transparent;
    -fx-background-insets: 0, 38 0 0 0;
    -fx-background-radius: 0, 0;
    -fx-background-position: top, left;
    -fx-text-fill: -fu-text-1;
}

.category-type-toggle:hover {
    /*background, accent*/
    -fx-background-color: transparent, -fu-text-2;
    -fx-background-insets: 0, 38 0 0 0;
}

.category-type-toggle:pressed {
    /*background, accent*/
    -fx-background-color: transparent, -fu-text-2;
    -fx-background-insets: 0;
}

.category-type-toggle:selected {
    /*background, accent*/
    -fx-background-color: transparent, -fu-accent;
}

.category-type-toggle:selected:hover {
    /*background, accent*/
    -fx-background-color: transparent, -fu-accent;
}