.colorpickerbutton > .button {
    -fx-text-fill: transparent;
    -fx-background-color: -fu-foreground-rest;
    -fx-background-insets: 0 0 0 0, 3 3 3 3;
    -fx-background-radius: 10, 8;
}

.colorpickerbutton:hover > .button {
    -fx-background-color: -fu-stroke-hover;
}

.colorpickerbutton:pressed > .button {
    -fx-background-color: -fu-stroke-pressed;
}

.colorpickerbutton SVGPath {
    -fx-fill: -fu-text-1;
}



.colorpickerbutton:selected SVGPath {
    -fx-fill: transparent;
}

.colorpickerbutton > .colorpickerpreset_upper_checkmark {
    -fx-fill: transparent;
}

.colorpickerbutton > .colorpickerpreset_center_checkmark {
    -fx-fill: transparent;
}

.colorpickerbutton > .colorpickerpreset_under_checkmark {
    -fx-background-color: transparent;
    -fx-background-radius: 0 0 0 4;
}

.colorpickerbutton:hover > .colorpickerpreset_center_checkmark {
    -fx-fill: -fu-stroke-rest;
}

.colorpickerbutton:selected > .colorpickerpreset_upper_checkmark {
    -fx-fill: -fu-text-1;
}

.colorpickerbutton:selected > .colorpickerpreset_under_checkmark {
    -fx-background-color: -fu-stroke-rest;
    -fx-background-radius: 0;
}

.colorpickerbutton:selected > .colorpickerpreset_center_checkmark {
    -fx-fill: transparent;
}
