.colorpicker {
    -fx-opacity: 0;
    -fx-background-color: transparent;
    -fx-background-radius: 15, 13;
    -fx-background-insets: 0, 2;
}
.colorpicker:hover {
    -fx-opacity: 0;
    -fx-background-color: transparent;
    -fx-background-radius: 15, 13;
    -fx-background-insets: 0, 2;
}
.colorpicker:focused {
    -fx-opacity: 0;
    -fx-background-color: transparent;
    -fx-background-radius: 15, 13;
    -fx-background-insets: 0, 2;
}