.under_icon_pane {
    -fx-background-color: transparent;
    -fx-background-radius: 5;
    -fx-padding: 5 15 5 5;
}

.under_icon_pane:hover {
    -fx-background-color: transparent;
}

.under_icon_pane SVGPath {
    -fx-fill: -fu-text-1;

}