
.combo-box-base.date-picker .text-input {
    -fx-background-color: -fu-stroke-rest, -fu-stroke-rest, -fu-foreground-rest;
    -fx-background-insets: 32 0 0 0, 0 0 2 0, 2 0 2 2;
    -fx-background-radius: 4 0 0 4, 3 0 0 0, 3 0 0 3;
    -fx-padding: .333333em .583em .444444em .583em;
    -fx-content-display: LEFT;
    -fx-cursor: text;
}
.combo-box-base.date-picker .arrow-button {
    -fx-background-color: -fu-stroke-rest, -fu-stroke-rest, -fu-foreground-rest;
    -fx-background-insets: 32 0 0 0, 0 0 2 0, 2 2 2 0;
    -fx-background-radius: 0 4 4 0, 0 3 0 0, 0 4 4 0;
    -fx-padding: .333333em .583em .444444em .583em;
}

.combo-box-base.date-picker:hover .text-input,
.combo-box-base.date-picker:hover .arrow-button {
    -fx-background-color: -fu-stroke-hover, -fu-stroke-hover, -fu-foreground-hover;
    -fx-text-fill: -fu-text-1;
}
.combo-box-base.date-picker:pressed .text-input,
.combo-box-base.date-picker:pressed .arrow-button {
    -fx-background-color: -fu-accent, -fu-stroke-pressed, -fu-foreground-pressed;
}
.combo-box-base.date-picker:disabled .text-input,
.combo-box-base.date-picker:disabled .button {
    -fx-opacity: 1.0;
}
/*
Il date-picker quando è focused non mantiene l'accento se spostiamo il cursore dall'hover

.combo-box-base.date-picker:focused .text-input,
.combo-box-base.date-picker:focused .arrow-button {
    -fx-background-color: -fu-accent, -fu-stroke-rest, -fu-foreground-rest;
}

Il problema di questo codice è che il date-picker è diviso tra arrow e button e solo uno dei 2 può stare in focus
Come non detto sono un mostro con sto css, il codice sotto funziona
Voglio lasciare questo commento per commemorare la mia sofferenza
*/

.combo-box-base:focused.date-picker .text-input,
.combo-box-base:focused.date-picker .arrow-button {
    -fx-background-color: -fu-accent, -fu-stroke-rest, -fu-foreground-rest;
}

.date-picker > .arrow-button > .arrow {
    /* Calendario (icona) */
    -fx-shape: "M0,0v9h9V0H0z M2,8H1V7h1V8z M2,6H1V5h1V6z M2,4H1V3h1V4z M4,8H3V7h1V8z M4,6H3V5h1V6z M4,4H3V3h1V4z M6,8H5V7h1V8z M6,6H5 V5h1V6z M6,4H5V3h1V4z M8,8H7V7h1V8z M8,6H7V5h1V6z M8,4H7V3h1V4z";
    -fx-background-color: transparent /*-fu-text-1*/, -fu-text-1;
    -fx-translate-y: 1; /* not needed if -fu-text-1 */
    -fx-padding: 7 7 6 6
}
.date-picker-popup {
    -fx-background-color: -fu-stroke-rest, -fu-stroke-rest;
    -fx-background-insets: 0, 10;
    -fx-background-radius: 6, 5;
    -fx-alignment: CENTER; /* VBox */
    -fx-spacing: 0; /* VBox */
    -fx-padding: 0;
}
.date-picker-popup > .month-year-pane {
    -fx-padding: 1em;
    -fx-background-color: -fu-accent, -fu-background-2;
    -fx-background-insets: 2, 2 2 4 2;
    -fx-background-radius: 5 5 0 0, 5 5 0 0;
}
.date-picker-popup > * > .spinner {
    -fx-spacing: 0.25em; /* 3 */
    -fx-alignment: CENTER;
    -fx-fill-height: false;
    -fx-font-family: "Segoe UI Semibold";
}
.date-picker-popup > * > .spinner > .button,
.date-picker-popup > .month-year-pane > .button {
    -fx-background-color: transparent;
    -fx-background-radius: 4;
    -fx-pref-width: 32px;
    -fx-pref-height: 34px;
}
.date-picker-popup > * > .spinner > .button:hover,
.date-picker-popup > .month-year-pane > .button:hover {
    -fx-background-color: -fu-stroke-hover;
}

.date-picker-popup > * {
    -fx-background-color: -fu-foreground-rest, -fu-foreground-rest;
    -fx-background-insets: 0, 0 2 2 2;
    -fx-background-radius: 5, 0 0 6 6;
}

.date-picker-popup > * > .spinner > .button > .left-arrow,
.date-picker-popup > * > .spinner > .button > .right-arrow,
.date-picker-popup > .month-year-pane > .button > .left-arrow,
.date-picker-popup > .month-year-pane > .button > .right-arrow {
    -fx-background-color: -fu-text-1;
    -fx-effect: null;
}
.date-picker-popup > * > .spinner > .button > .left-arrow,
.month-year-pane > .button > .left-arrow {
    -fx-padding: 0.333333em 0.25em 0.333333em 0.166667em; /* 4 3 4 2 */
    -fx-shape: "M1.496 8.664C.94 8.293.606 7.669.606 7 .606 6.331.94 5.707 1.496 5.336 3.354 4.098 5.901 2.399 7.891 1.073 8.504.664 9.293.626 9.944.974 10.594 1.322 11 1.999 11 2.737 11 5.303 11 8.697 11 11.263 11 12.001 10.594 12.678 9.944 13.026 9.293 13.374 8.504 13.336 7.891 12.927 5.901 11.601 3.354 9.902 1.496 8.664Z";
}
.date-picker-popup > * > .spinner > .button > .right-arrow,
.month-year-pane > .button > .right-arrow {
    -fx-padding: 0.333333em 0.25em 0.333333em 0.166667em; /* 4 3 4 2 */
    -fx-shape: "M9.504 8.664C10.06 8.293 10.394 7.669 10.394 7 10.394 6.331 10.06 5.707 9.504 5.336 7.646 4.098 5.099 2.399 3.109 1.073 2.496.664 1.707.626 1.056.974.406 1.322 0 1.999 0 2.737 0 5.303 0 8.697 0 11.263 0 12.001.406 12.678 1.056 13.026 1.707 13.374 2.496 13.336 3.109 12.927 5.099 11.601 7.646 9.902 9.504 8.664Z";
}
.date-picker-popup > * > .spinner > .label {
    -fx-alignment: CENTER;
}
.date-picker-popup > .month-year-pane {
    -fx-spacing: .25em;
    -fx-alignment: CENTER;
    -fx-font-family: "Segoe UI Semibold";
}
.date-picker-popup > .month-year-pane > .secondary-label {
}

.date-picker-popup > .calendar-grid {
    -fx-background-insets: 0 2 2 2;
    -fx-padding: 4;
}
.date-picker-popup > * > .date-cell {
    -fx-alignment: BASELINE_CENTER;
}
.date-picker-popup > * > .day-name-cell,
.date-picker-popup > * > .week-number-cell {
    -fx-text-fill: -fu-text-2;
}
.date-picker-popup > * > .day-cell {
    -fx-pref-width: 32px;
    -fx-pref-height: 32px;
    -fx-background-radius: 50%;
    -fx-background-insets: 4, 5;
}
.date-picker-popup > * > .day-cell:hover {
    -fx-background-color: -fu-stroke-hover, -fu-stroke-hover;
}
.date-picker-popup > * > .day-cell {
    -fx-text-fill: -fu-text-1;
    -fx-background-radius: 4;
}
.date-picker-popup > * > .selected {
    -fx-background-color: -fu-accent, -fu-foreground-rest;
    -fx-background-radius: 4;
}
.date-picker-popup > * > .selected:hover {
    -fx-background-color: transparent, -fu-accent-hover;
}
.date-picker-popup > * > .today {
    -fx-background-color: -fu-accent, -fu-accent;
    -fx-text-fill: -fu-text-1;
}
.date-picker-popup > * > .previous-month.today,
.date-picker-popup > * > .next-month.today {
    -fx-text-fill: -fu-text-1; /* When selected day is visible as past month */
}
.date-picker-popup > * > .today:hover {
    -fx-background-color: -fu-accent, -fu-accent;
}


.date-range-picker {
    -fx-padding: 0.333333em 0em 0.333333em 0.666667em;
    -fx-max-height: infinity;
}

.date-range-picker .popup {
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 12, 0.0, 0, 8);
}

.date-range-picker .inner-range-container {
    -fx-spacing: 0.166667em;
}

.date-range-picker .inner-range-container.small {
    -fx-spacing: 0.833333em;
    -fx-alignment: center-left;
}

.date-range-picker > .outer-range-container .divider {
    -fx-pref-width: 0.083333em;
    -fx-background-color: grey;
}

.date-range-picker > .outer-range-container {
    -fx-spacing: 1.666666em;
    -fx-alignment: center-left;
}

.date-range-picker > .outer-range-container > .arrow-button {
    -fx-background-color: transparent;
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    -fx-background-radius: 0 3 3 0, 0 2 2 0, 0 1 1 0;
    -fx-padding: 0.5em 0.667em 0.5em 0.833333em; /* 6 8 6 10 */
    -fx-text-fill: -fu-text-1;
    -fx-alignment: CENTER;
    -fx-content-display: LEFT;
}

.date-range-picker > .outer-range-container > .arrow-button > .arrow {
    -fx-background-color: -fu-text-1;
    -fx-background-insets: 0;
    -fx-padding: 0.166667em 0.333333em 0.166667em 0.333333em; /* 2 4 2 4 */
    -fx-shape: "M 0 0 h 7 l -3.5 4 z";
    -fx-scale-shape: true;
}

.date-range-picker > .outer-range-container > .inner-range-container > .range-label > .icon-button {
    -fx-padding: 0em; /* 6 8 6 10 */
}

.date-range-picker > .outer-range-container > .inner-range-container > .range-label > .icon-button > .icon {
    -fx-shape: "M0,0v9h9V0H0z M2,8H1V7h1V8z M2,6H1V5h1V6z M2,4H1V3h1V4z M4,8H3V7h1V8z M4,6H3V5h1V6z M4,4H3V3h1V4z M6,8H5V7h1V8z M6,6H5 V5h1V6z M6,4H5V3h1V4z M8,8H7V7h1V8z M8,6H7V5h1V6z M8,4H7V3h1V4z";
    -fx-background-color: -fu-text-1;
    -fx-background-insets: 0;
    -fx-padding: 0.416667em 0.416667em 0.333333em 0.333333em; /* 5 5 4 4 */
    -fx-scale-shape: false;
}

.date-range-picker > .outer-range-container > .inner-range-container > .title-label {
    -fx-font-weight: bold;
}

.date-range-picker > .outer-range-container > .inner-range-container > .range-label {
}


.date-range-view {
    -fx-padding: 10;
    -fx-background-color: -fu-stroke-rest, -fu-background-3;
    -fx-background-radius: 6, 6;
    -fx-background-insets: 0, 2;
}

.date-range-view > .range-view-container {
    -fx-spacing: 15;
}

.date-range-view > .range-view-container > .stack-pane > .months-box {
    -fx-spacing: 16px;
}

.date-range-view > .range-view-container > .stack-pane > .to-label {
    -size: 34px;
    -fx-min-width: -size;
    -fx-min-height: -size;
    -fx-pref-width: -size;
    -fx-pref-height: -size;
    -fx-max-width: -size;
    -fx-max-height: -size;

    -fx-background-color: -fx-box-border, #ff0000;
    -fx-background-insets: 0px, 1px;
    -fx-background-radius: 1000px, 1000px;
    -fx-padding: 5px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, .26), 10, 0.12, -1, 2);

    -fx-alignment: center;
}

.date-range-view > .range-view-container > .presets-box {
    -fx-spacing: 10;
    -fx-padding: 0px 10px;
}

.date-range-view > .range-view-container > .presets-box > .presets-title {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-padding: 0 0 15 0;
}

.date-range-view > .range-view-container > .presets-box > .buttons-box {
    -fx-spacing: 10px;
}

.date-range-view > .range-view-container > .presets-box > .buttons-box > .apply-button {
}

.date-range-view > .range-view-container > .presets-box > .buttons-box > .cancel-button {
}

.date-range-view > .range-view-container > .presets-box > .preset-name-label {
    -fx-cursor: hand;
    -fx-text-fill: -fu-text-1;
}

.date-range-view > .range-view-container > .presets-box > .preset-name-label:hover {
    -fx-underline: true;
}

.date-range-view > .range-view-container > .presets-box > .separator > .line {
    -fx-border-color: lightgrey transparent transparent transparent;
}

/*
 * Note: this calendar view uses two grid panes, one for displaying the
 * names of the weekdays (e.g. "M", "T", "W", etc....) and one for showing
 * the date cells. To keep their alignment in sync we are using variables
 * on the top-level class "calendar-view", e.g. "-fx-vertical-grid-gap".
 * One also has to make sure that the left and right padding values of both
 * grid panes are the same.
 */
.calendar-view {
    -fx-background-color: -fu-background-1;
    -fx-background-radius: 6;
    -fx-background-insets: 0;
}

.calendar-view > .container {
    -fx-alignment: center;
    -fx-fill-width: true;
}

.calendar-view > .stack-pane > .container > .footer {
    -fx-background: -fx-control-inner-background-alt;
    -fx-background-color: -fu-background-1;
    -fx-padding: 0px 10px 10px 10px;
}

.calendar-view > .stack-pane > .container > .header {
    -fx-background: -fx-control-inner-background;
    -fx-background-color: -fu-background-1;
    -fx-padding: 5px;
    -fx-alignment: center;
    -fx-spacing: 5px;
}

.calendar-view > .stack-pane > .container > .header > .date-label {
    -fx-font-weight: bold;
    -fx-content-display: right;
    -fx-font-size: 1.1em;
}

.calendar-view > .stack-pane > .container > .header > .date-label.dropdown:hover {
    -fx-background-color: -fu-stroke-hover;
    -fx-background-insets: 0px -2px;
    -fx-background-radius: 2px;
}

.calendar-view > .stack-pane > .container > .header > .arrow-button {
    -fx-padding: 2px;
}

.calendar-view > .stack-pane > .container > .header > .arrow-button:hover {
    -fx-background-color: -fu-stroke-hover;
    -fx-background-insets: 0px -2px;
    -fx-background-radius: 2px;
}

.calendar-view > .stack-pane > .container > .header > .date-label > .dropdown-button > .arrow {
    -fx-background-color: -fx-mark-color;
    -fx-background-insets: 0;
    -fx-padding: 0.166667em 0.333333em 0.166667em 0.333333em; /* 2 4 2 4 */
    -fx-shape: "M 0 0 h 9 l -4.5 5 z";
    -fx-scale-shape: false;
}

.calendar-view > .stack-pane > .container > .header > .date-label > .dropdown-button:disabled {
    -fx-opacity: 0.4;
}

.calendar-view > .stack-pane > .container > .header > .year-spinner {
    -fx-alignment: center;
    -fx-spacing: 2px;
}

.calendar-view > .stack-pane > .container > .header > .year-spinner > .decrement-year-button,
.calendar-view > .stack-pane > .container > .header > .year-spinner > .increment-year-button {
    -fx-padding: 0px; /* 5 8 3 8 */
    -fx-cursor: hand;
}

.calendar-view > .stack-pane > .container > .header > .year-spinner > .decrement-year-button:hover,
.calendar-view > .stack-pane > .container > .header > .year-spinner > .increment-year-button:hover {
    -fx-background-color: #eeeeee;
    -fx-background-insets: -2px;
    -fx-background-radius: 2px;
}

.calendar-view > .stack-pane > .container > .header > .year-spinner > .decrement-year-button:disabled,
.calendar-view > .stack-pane > .container > .header > .year-spinner > .increment-year-button:disabled {
    -fx-opacity: 0.4;
}

.calendar-view > .stack-pane > .container > .header > .year-spinner > .increment-year-button > .arrow {
    -fx-background-color: -fx-mark-highlight-color, -fx-mark-color;
    -fx-background-insets: 0 0 -1 0, 0;
    -fx-padding: 0.166667em 0.333333em 0.166667em 0.333333em; /* 2 4 2 4 */
    -fx-shape: "M 0 4 h 7 l -3.5 -4 z";
}

.calendar-view > .stack-pane > .container > .header > .year-spinner > .decrement-year-button > .arrow {
    -fx-background-color: -fx-mark-highlight-color, -fx-mark-color;
    -fx-background-insets: 0 0 -1 0, 0;
    -fx-padding: 0.166667em 0.333333em 0.166667em 0.333333em; /* 2 4 2 4 */
    -fx-shape: "M 0 0 h 7 l -3.5 4 z";
}

.calendar-view > .stack-pane > .container > .header > .previous-month-button:hover,
.calendar-view > .stack-pane > .container > .header > .next-month-button:hover {
    -fx-background-color: -fu-stroke-hover;
    -fx-background-insets: 0px -2px;
    -fx-background-radius: 2px;
}

.calendar-view > .stack-pane > .container > .header > .previous-month-button:pressed,
.calendar-view > .stack-pane > .container > .header > .next-month-button:pressed {
}

.calendar-view > .stack-pane > .container > .header > .previous-month-button:disabled,
.calendar-view > .stack-pane > .container > .header > .next-month-button:disabled {
    -fx-opacity: 0.4;
}

.calendar-view > .stack-pane > .container > .header > .previous-month-button,
.calendar-view > .stack-pane > .container > .header > .next-month-button {
    -fx-padding: 0.333333em 0.166667em;
}

.calendar-view > .stack-pane > .container > .header > .previous-month-button > .arrow {
    -fx-background-color: derive(-fx-base, -45%);
    -fx-background-insets: 0;
    -fx-padding: 0.333333em 0.25em 0.333333em 0.166667em; /* 4 3 4 2 */
    -fx-shape: "M5.997,5.072L5.995,6.501l-2.998-4l2.998-4l0.002,1.43l-1.976,2.57L5.997,5.072z";
    -fx-scale-shape: true;
}

.calendar-view > .stack-pane > .container > .header > .next-month-button > .arrow {
    -fx-background-color: derive(-fx-base, -45%);
    -fx-background-insets: 0;
    -fx-padding: 0.333333em 0.25em 0.333333em 0.166667em; /* 4 3 4 2 */
    -fx-shape: "M2.998-0.07L3-1.499l2.998,4L3,6.501l-0.002-1.43l1.976-2.57L2.998-0.07z";
    -fx-scale-shape: true;
}

.calendar-view.show-grid-lines > .stack-pane > .container > .weekday-grid-pane,
.calendar-view.show-grid-lines > .stack-pane > .container > .body-grid-pane {
    -fx-grid-lines-visible: true;
}

.calendar-view > .stack-pane > .container > .weekday-grid-pane {
    -fx-background-color: -fu-background-1;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, .26), 10, 0.12, -1, 2);
    -fx-grid-lines-visible: false;
    -fx-hgap: -fx-horizontal-grid-gap;
    -fx-padding: 0px 10px 10px 10px;
}

.calendar-view > .stack-pane > .container > .weekday-grid-pane > .corner {
}

.calendar-view > .stack-pane > .container > .weekday-grid-pane > .weekday-name {
    -size: 2em;
    -fx-pref-width: -size;
    -fx-pref-height: -size;
    -fx-min-width: -size;
    -fx-min-height: -size;
    -fx-text-fill: grey;
    -fx-font-size: .8em;
    -fx-background-color: transparent;
    -fx-alignment: center;
}

.calendar-view > .stack-pane > .container > .body-grid-pane {
    -fx-background-color: -fu-background-4;
    -fx-background-radius: 6;
    -fx-padding: 10px;
    -fx-grid-lines-visible: false;
}

.calendar-view > .stack-pane > .container > .body-grid-pane > .week-number-label {
    -fx-font-size: 10px;
    -fx-text-fill: -fx-accent;
    -fx-alignment: top-right;
    -fx-padding: 0px 2px 0px 0px;
}

.calendar-view > .stack-pane > .container > .body-grid-pane > .date-cell {
    -fx-background-color: transparent;
    -fx-text-fill: -fu-text-1;
    -fx-min-width: 2.5em;
    -fx-pref-width: 2.5em;
    -fx-max-width: 2.5em;
    -fx-min-height: 2.5em;
    -fx-pref-height: 2.5em;
    -fx-max-height: 2.5em;
}

.calendar-view > .stack-pane > .container > .body-grid-pane > .date-cell.previous-month {
    -fx-text-fill: -fu-text-2;
}

.calendar-view > .stack-pane > .container > .body-grid-pane > .date-cell.next-month {
    -fx-text-fill: -fu-text-2;
}

.calendar-view > .stack-pane > .container > .body-grid-pane > .date-cell.weekend-day {
    -fx-background-color: red;
}

.calendar-view > .stack-pane > .container > .body-grid-pane > .date-cell.today {
    -fx-border-color: -fu-accent;
    -fx-border-radius: 2.5em;
    -fx-border-insets: 2px;
}

.calendar-view > .stack-pane > .container > .body-grid-pane > .date-cell.selected {
    -fx-background-color: -fu-accent;
    -fx-opacity: 0.65;
    -fx-background-radius: 2;
}

.calendar-view > .stack-pane > .container > .body-grid-pane > .date-cell.selected.next-month,
.calendar-view > .stack-pane > .container > .body-grid-pane > .date-cell.selected.previous-month {
    -fx-text-fill: -fu-text-1;
}

.calendar-view > .stack-pane > .container > .body-grid-pane > .date-cell.selected.range-start {
    -fx-opacity: 1;
    -fx-background-color: -fu-accent;
}

.calendar-view > .stack-pane > .container > .body-grid-pane > .date-cell.selected.range-end {
    -fx-opacity: 1;
    -fx-background-color: -fu-accent;
}

.calendar-view > .stack-pane > .container > .body-grid-pane > .date-cell.selected.range-date {
    -fx-background: derive(-fx-accent, +80%);
}

.year-view {
    -fx-border-color: transparent;
}

.year-view:focused {
}

.year-view > .grid-pane {
    -fx-background-color: -fu-background-4;
    -fx-background-radius: 6;
    -fx-hgap: 10px;
    -fx-vgap: 10px;
    -fx-padding: 10px;
}

.year-view > .grid-pane > .year-box {
    -fx-cursor: hand;
    -fx-padding: 5px 10px;
}

.year-view > .grid-pane > .year-box:hover {
    -fx-pref-height: 2px;
    -fx-background-color: -fu-stroke-hover;
    -fx-background-insets: 0px -2px 0px -2px;
    -fx-background-radius: 2;
}

.year-view > .grid-pane > .year-box > .selection-indicator {
    -fx-pref-height: 2px;
    -fx-background-color: -fu-accent;
    -fx-background-insets: 0px -2px 0px -2px;
}

.year-view > .header {
    -fx-padding: 0.588883em 0.5em 0.666667em 0.5em; /* 7 6 8 6 */
    -fx-background-color: -fu-background-1;
    -fx-background-insets: 0 0 0 0, 0 0 1 0;
    -fx-alignment: center-left;
    -fx-fill-height: false;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, .26), 10, 0.12, -1, 2);
}

.year-view > .header > .year-range-label {
    -fx-font-size: 1.1em;
    -fx-alignment: center;
}

.year-view > .header > .arrow-button {
    -fx-cursor: hand;
    -fx-padding: 0.333333em 0.166667em;
}

.year-view > .header > .arrow-button:hover {
    -fx-background-color: -fu-stroke-hover;
    -fx-background-insets: 0px -2px;
    -fx-background-radius: 2px;
}

.year-view > .header > .arrow-button > .left-arrow,
.year-view > .header > .arrow-button > .right-arrow {
    -fx-background-color: green, derive(-fx-base, -45%);
    -fx-background-insets: 1 0 -1 0, 0;
    -fx-padding: 0.333333em 0.166667em 0.333333em 0.166667em; /* 4 2 4 2 */
    -fx-effect: dropshadow(two-pass-box, -fx-shadow-highlight-color, 1, 0.0, 0, 1.4);
}

.year-view > .header > .arrow-button > .left-arrow {
    -fx-background-color: derive(-fx-base, -45%);
    -fx-background-insets: 0;
    -fx-padding: 0.333333em 0.25em 0.333333em 0.166667em; /* 4 3 4 2 */
    -fx-shape: "M5.997,5.072L5.995,6.501l-2.998-4l2.998-4l0.002,1.43l-1.976,2.57L5.997,5.072z";
    -fx-scale-shape: true;
}

.year-view > .header > .arrow-button > .right-arrow {
    -fx-background-color: derive(-fx-base, -45%);
    -fx-background-insets: 0;
    -fx-padding: 0.333333em 0.25em 0.333333em 0.166667em; /* 4 3 4 2 */
    -fx-shape: "M2.998-0.07L3-1.499l2.998,4L3,6.501l-0.002-1.43l1.976-2.57L2.998-0.07z";
    -fx-scale-shape: true;
}

.year-month-view {
    -fx-border-color: transparent;
}

.year-month-view > .container > .grid-pane {
    -fx-background-color: -fu-background-4;
    -fx-background-radius: 6;
    -fx-hgap: 10px;
}

.year-month-view > .container > .grid-pane .month-box {
    -fx-spacing: 2px;
}

.year-month-view > .container > .grid-pane .month-box .month-label {
    -fx-alignment: center;
    -fx-cursor: hand;
}

.year-month-view > .container > .grid-pane .month-box > .indicator {
    visibility: hidden;
    -fx-pref-height: 2px;
    -fx-background-color: -fu-accent;
    -fx-background-insets: 0px -2px 0px -2px;
}

.year-month-view > .container > .grid-pane .month-box:selected > .indicator {
    visibility: visible;
}

.year-month-view > .container > .grid-pane .month-box:hover {
    -fx-background-color: -fu-stroke-hover;
    -fx-background-insets: -2 -20 -2 -20;
    -fx-background-radius: 2;
}

.year-month-view > .container > .grid-pane .divider {
    -fx-pref-width: 12;
    -fx-background-color: -fu-text-2;
}