.full-button {
    -fx-text-fill: -fu-text-1;
    -fx-background-color: -fu-stroke-rest, -fu-foreground-rest;
    -fx-background-insets: 0, 2;
    -fx-background-radius: 6, 4;
    -fx-padding: 8 5 8 5;
    -fx-text-alignment: CENTER;
    -fx-alignment: CENTER;
}

.full-button:hover {
    -fx-background-color: -fu-stroke-hover, -fu-accent;
    -fx-text-fill: -fu-text-3;
}

.full-button:pressed {
    -fx-background-color: -fu-stroke-pressed, -fu-accent;
    -fx-text-fill: -fu-text-3;
}

.full-button:hover:pressed {
    -fx-background-color: -fu-stroke-selected, -fu-accent;
    -fx-text-fill: -fu-text-3;
}