.menu-item:hover {
    -fx-text-fill: -fu-text-1;
}

.menu-item:selected {
    -fx-background-color: green;
}

.menu-item:focused {
    -fx-background-color: -fu-accent;
}

.menu-item:hover {
    -fx-background-color: -fu-accent;
}
