.menu-item {
    -fx-font-size: 14;
    -fx-text-fill: -fu-text-1;
    -fx-font-family: "Segoe UI Semibold";
    -fx-padding: 5;
    -fx-background-radius: 4;
    -fx-background-insets: 3;
}

.menu-item:focused {
    -fx-background-color: -fu-accent;
}

.menu-item:hover {
    -fx-background-color: -fu-accent;
}
