.profile_image:hover {
    -fx-opacity: 0.8;
}

.profile_image .profile_label {
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 1), 10, 0.8, 0, 0);
    -fx-text-fill: -fu-text-1;
    -fx-opacity: 0;
}

.profile_image:hover .profile_label {
    -fx-opacity: 1;
}

.profile_image .profile_pane {
    -fx-background-color: -fu-background-3;
    -fx-shape: "M 50,0 A 50,50 0 1,1 50,100 A 50,50 0 1,1 50,0 Z";
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.5), 25, 0, 0, 0);
}

.profile_image:hover .profile_pane {
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.5), 25, 0, 0, 0);
}