.custom-tag-filter {
    -fx-background-color: transparent;
}

.tag-filter-context-menu {
    -fx-background-color: -fu-foreground-rest;
    -fx-text-fill: -fu-text-1;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-border-color: -fu-stroke-rest;
    -fx-border-width: 2px;
    -fx-padding: 0 0 0 0;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.1), 5, 0.0, 0.0, 1.0);
}

.tag-filter-menu-item {
    -fx-font-size: 14;
    -fx-text-fill: -fu-text-1;
    -fx-font-family: System;
    -fx-padding: 5;
    -fx-background-radius: 4;
    -fx-background-insets: 3;
}


.tag-filter-menu-item:focused {
    -fx-background-color: -fu-foreground-rest;
}

.tag-filter-menu-item:hover {
    -fx-background-color: -fu-foreground-rest;
}