.tag {
    -fx-background-color: -fu-foreground-rest;
    -fx-background-radius: 5;
    -fx-opacity: 1;
    -fx-border-color: transparent;
    -fx-border-radius: 3;
    -fx-border-width: 1;
}

.tag .label {
    -fx-text-fill: -fu-text-3;
}

.tag:hover {
    -fx-opacity: 0.8;
    -fx-border-color: -fu-text-1;
    -fx-border-radius: 3;
    -fx-border-width: 1;
}

.tag:pressed {
    -fx-opacity: 0.9;
}

.tag:selected {
    -fx-border-color: -fu-stroke-rest;
    -fx-border-radius: 5;
}

.tag:selected .label {
    -fx-text-fill: -fu-text-3;
}

.tag:discarded {
    -fx-border-color: red;
    -fx-border-style: dashed;
    -fx-border-radius: 5;
}

.tag:discarded .label{
    -fx-text-fill: red;
}