.text-input, .text-area, .text-field {
    -fx-cursor: text;
    -fx-highlight-fill: -fu-accent;
    -fx-highlight-text-fill: -fu-text-1;
    -fx-text-fill: -fu-text-1;
    -fx-prompt-text-fill: -fu-text-2;

    /*accent, border, background*/
    /*top-l, top-r, bottom-r, bottom-l*/
    -fx-background-color: -fu-stroke-rest, -fu-stroke-rest, -fu-foreground-rest;
    -fx-background-insets: 0 0 0 0, 0 0 0 0, 2 2 2 2;
    -fx-background-radius: 4, 3 3 3 3, 3;
    -fx-padding: .5333333em .783em .844444em .783em;
}

.text-input:hover, .text-area:hover, .text-field:hover {
    -fx-background-color:  -fu-accent, -fu-stroke-hover, -fu-foreground-hover;
    -fx-background-insets: 0 0 0 0, 0 0 2 0, 2 2 2 2;
    -fx-background-radius: 4, 3 3 0 0, 3;
}

.text-input:focused, .text-area:focused, .text-field:focused {
    -fx-background-color: -fu-accent, -fu-stroke-selected, -fu-foreground-selected;
    -fx-background-insets: 0 0 0 0, 0 0 2 0, 2 2 2 2;
    -fx-background-radius: 4, 3 3 0 0, 3;
}


.transparent-text-field {
    -fx-cursor: text;
    -fx-highlight-fill: -fu-accent;
    -fx-highlight-text-fill: -fu-text-1;
    -fx-text-fill: -fu-text-1;
    -fx-prompt-text-fill: -fu-text-2;


    /*accent, border, background*/
    /*top-l, top-r, bottom-r, bottom-l*/
    -fx-background-color: transparent;
    -fx-background-insets: 0 0 0 0, 0 0 2 0, 2 2 2 2;
    -fx-background-radius: 4, 3 3 0 0, 4;
    -fx-padding: .333333em .583em .444444em .583em;
}

.transparent-text-field:hover {
    -fx-background-color: transparent;
    -fx-background-insets: 0.3 0.3 0 0.3, 0 0 2 0, 2 2 2 2;
}

.transparent-text-field:focused {
    -fx-background-color: transparent;
    -fx-background-insets: 0.3 0.3 0 0.3, 0 0 3 0, 2 2 3 2;
}

