.transparent-button {
    -fx-background-radius: 6;
    -fx-background-color: rgba(0, 0, 0, 0);
    -fx-text-fill: -fu-text-1;
    -fx-opacity: 0.5;
    -fx-text-alignment: left;
}

.transparent-button:hover {
    -fx-opacity: 1;
    -fx-background-color: rgba(0, 0, 0, 0);
}

.transparent-button:selected {
    -fx-opacity: 1;
    -fx-background-color: rgba(0, 0, 0, 0);
}

.transparent-button:pressed {
    -fx-opacity: 1;
    -fx-background-color: rgba(0, 0, 0, 0);
}

.transparent-button:hover:pressed {
    -fx-opacity: 1;
}

.transparent-button:selected:hover {
    -fx-opacity: 1;
}

.transparent-menubutton {
    -fx-background-color: rgba(0, 0, 0, 0);
    -fx-text-fill: -fu-text-1;
    -fx-text-alignment: left;
    -fx-padding: 4;
    -fx-background-radius: 4;
}

.transparent-menubutton:hover {
    -fx-background-color: rgba(0, 0, 0, .4);
}

.transparent-menubutton > .arrow-button {
    -fx-padding: 0;
}

.transparent-menubutton > .arrow-button > .arrow {
    -fx-padding: 0;
}

.transparent-button {
    -fx-background-radius: 6;
    -fx-background-color: rgba(0, 0, 0, 0);
    -fx-text-fill: -fu-text-1;
    -fx-opacity: 0.5;
    -fx-text-alignment: left;
}

.terms-hypertext {
    -fx-text-fill: -fu-accent;
    -fx-opacity: 0.5;
}

.terms-hypertext:hover {
    -fx-opacity: 1;
}

.terms-hypertext:pressed {
    -fx-opacity: 1;
}


