.transparent-button {
    -fx-background-color: rgba(0, 0, 0, 0);
    -fx-text-fill: -fu-text-1;
    -fx-text-alignment: left;
}

.transparent-button:hover {
    -fx-background-color: rgba(0, 0, 0, .2);
}