/*
Design directions:
- Left menu (1/6 of the full with of the display) (fixed size)
- Minimum Dynamic size (1/2 of every direction of teh display) (1/4 total display size)
- Minimum Minimum size (800x600)
*/

.root {
    /*accent*/
    -fu-accent: red;
    -fu-accent-rest: -fu-accent;
    -fu-accent-hover: -fu-accent;
    -fu-accent-pressed: -fu-accent;
    -fu-accent-selected: -fu-accent;

    /*mode dark/light*/
    -fu-background-1: #0a0a0a;
    -fu-background-2: #141414;
    -fu-background-3: #1f1f1f;
    -fu-background-4: #292929;

    -fu-foreground-rest: rgba(26, 26, 26, 1);
    -fu-foreground-hover: rgba(26, 26, 26, 0.7);
    -fu-foreground-pressed: rgba(18, 18, 18, 1);
    -fu-foreground-selected: rgba(26, 26, 26, 1);

    -fu-stroke-rest: rgba(66, 66, 66, 1);
    -fu-stroke-hover: rgba(66, 66, 66, 1);
    -fu-stroke-pressed: rgba(66, 66, 66, 1);
    -fu-stroke-selected: rgba(66, 66, 66, 1);

    -fu-text-1: #ffffff;
    -fu-text-2: #737373;

    /* Disabled  Opacity 80/70% */
}

.label {
    -fx-text-fill: -fu-text-1;
}

.background-1 {
    -fx-background-color: -fu-background-1;
}

.background-2 {
    -fx-background-color: -fu-background-2;
}

.background-3 {
    -fx-background-color: -fu-background-3;
}

.background-4 {
    -fx-background-color: -fu-background-4;
}

.text-input, .text-area, .text-field {
    -fx-cursor: text;
    -fx-highlight-fill: -fu-accent;
    -fx-highlight-text-fill: -fu-text-1;
    -fx-text-fill: -fu-text-1;
    -fx-prompt-text-fill: -fu-text-2;


    /*accent, border, background*/
    /*top-l, top-r, bottom-r, bottom-l*/
    -fx-background-color: -fu-stroke-rest, -fu-stroke-rest, -fu-foreground-rest;
    -fx-background-insets: 0 0 0 0, 0 0 2 0, 2 2 2 2;
    -fx-background-radius: 4, 3 3 0 0, 4;
    -fx-padding: .333333em .583em .444444em .583em;
}

.text-input:hover, .text-area:hover, .text-field:hover {
    -fx-background-color: -fu-accent, -fu-stroke-hover, -fu-foreground-hover;
    -fx-background-insets: 0.3 0.3 0 0.3, 0 0 2 0, 2 2 2 2;
}

.text-input:focused, .text-area:focused, .text-field:focused {
    -fx-background-color: -fu-accent, -fu-stroke-selected, -fu-foreground-selected;
    -fx-background-insets: 0.3 0.3 0 0.3, 0 0 3 0, 2 2 3 2;
}

.side-button {
    /*background, accent*/
    -fx-background-color: rgba(0, 0, 0, 0), transparent;
    /*-fx-background-insets: 0, 6 125 6 0; /* Posiziona il bordo a sinistra */
    -fx-background-insets: 0, 8 252 8 0; /* Posiziona il bordo a sinistra */
    -fx-background-radius: 6, 10;
    -fx-background-position: top, left;
    -fx-text-fill: -fu-text-1;
}

.side-button:hover {
    /*background, accent*/
    -fx-background-color: rgb(0, 0, 0, .3), transparent;
    -fx-alignment: CENTER_LEFT
}

.side-button:pressed {
    /*background, accent*/
    -fx-background-color: rgb(0, 0, 0, .2), transparent;
}

.side-button:selected {
    /*background, accent*/
    -fx-background-color: rgba(0, 0, 0, .3), -fu-accent;
}


.transparent-button {
    -fx-background-color: rgba(0, 0, 0, 0);
    -fx-text-fill: -fu-text-1;
    -fx-text-alignment: left;
}

.transparent-button:hover {
    -fx-background-color: rgba(0, 0, 0, .2);
}

.button {
    -fx-text-fill: -fu-text-1;
    -fx-background-color: -fu-stroke-rest, -fu-foreground-rest;
    -fx-background-insets: 0, 2;
    -fx-background-radius: 6, 4;
    -fx-text-alignment: CENTER;
    -fx-alignment: CENTER;
}

.button:hover {
    -fx-background-color: -fu-stroke-hover, -fu-foreground-hover;
}

.button:pressed {
    -fx-background-color: -fu-stroke-pressed, -fu-foreground-pressed;
}

.button:selected {
    -fx-background-color: -fu-stroke-selected, -fu-foreground-selected;
}

.scroll-bar:horizontal, .scroll-bar:vertical {
    -fx-background-color: transparent;
    -fx-padding: 1
}

.scroll-bar > .track-background {
    -fx-background-color: -fu-foreground-rest;
    -fx-background-radius: 10;
    -fx-padding: 5 5 5 5
}

.scroll-bar > .thumb {
    -fx-background-color: -fu-stroke-rest;
    -fx-background-insets: 3;
    -fx-background-radius: 5
}

.scroll-bar:vertical > .thumb {
    -fx-background-color: -fu-stroke-rest;
    -fx-background-insets: 3
}

.scroll-bar:horizontal > .increment-button {
    -fx-background-color: transparent;
    -fx-padding: 2 5 2 2;
}

.scroll-bar:horizontal > .decrement-button {
    -fx-background-color: transparent;
    -fx-padding: 2 2 2 5
}

.scroll-bar:vertical > .increment-button {
    -fx-background-color: transparent;
    -fx-padding: 2 2 5 2
}

.scroll-bar:vertical > .decrement-button {
    -fx-background-color: transparent;
    -fx-padding: 5 2 2 2
}

.scroll-bar > .increment-button > .increment-arrow, .scroll-bar > .decrement-button > .decrement-arrow {
    -fx-background-color: -fu-stroke-rest;
    -fx-effect: null;
}

.scroll-bar > .increment-button:hover > .increment-arrow, .scroll-bar > .decrement-button:hover > .decrement-arrow {
    -fx-background-color: -fu-stroke-hover;
}

.scroll-bar > .increment-button:pressed > .increment-arrow, .scroll-bar > .decrement-button:pressed > .decrement-arrow {
    -fx-background-color: -fu-stroke-pressed;

}

.scroll-bar:horizontal > .increment-button > .increment-arrow {
    -fx-padding: 4 3 4 3;
    -fx-shape: "M9.504 8.664C10.06 8.293 10.394 7.669 10.394 7 10.394 6.331 10.06 5.707 9.504 5.336 7.646 4.098 5.099 2.399 3.109 1.073 2.496.664 1.707.626 1.056.974.406 1.322 0 1.999 0 2.737 0 5.303 0 8.697 0 11.263 0 12.001.406 12.678 1.056 13.026 1.707 13.374 2.496 13.336 3.109 12.927 5.099 11.601 7.646 9.902 9.504 8.664Z"
}

.scroll-bar:horizontal > .decrement-button > .decrement-arrow {
    -fx-padding: 4 3 4 3;
    -fx-shape: "M1.496 8.664C.94 8.293.606 7.669.606 7 .606 6.331.94 5.707 1.496 5.336 3.354 4.098 5.901 2.399 7.891 1.073 8.504.664 9.293.626 9.944.974 10.594 1.322 11 1.999 11 2.737 11 5.303 11 8.697 11 11.263 11 12.001 10.594 12.678 9.944 13.026 9.293 13.374 8.504 13.336 7.891 12.927 5.901 11.601 3.354 9.902 1.496 8.664Z"
}

.scroll-bar:vertical > .increment-button > .increment-arrow {
    -fx-padding: 3 4 3 4;
    -fx-shape: "M5.264 10.961C5.62 11.584 6.282 11.969 7 11.969 7.718 11.969 8.38 11.584 8.736 10.961 10.086 8.6 11.948 5.342 13.29 2.992 13.644 2.373 13.641 1.613 13.283.996 12.926.38 12.267 0 11.554 0 8.862 0 5.138 0 2.446 0 1.733 0 1.074.38.717.996.359 1.613.356 2.373.71 2.992 2.052 5.342 3.914 8.6 5.264 10.961Z"
}

.scroll-bar:vertical > .decrement-button > .decrement-arrow {
    -fx-padding: 3 4 3 4;
    -fx-shape: "M5.264 2.039C5.62 1.416 6.282 1.031 7 1.031 7.718 1.031 8.38 1.416 8.736 2.039 10.086 4.4 11.948 7.658 13.29 10.008 13.644 10.627 13.641 11.387 13.283 12.004 12.926 12.62 12.267 13 11.554 13 8.862 13 5.138 13 2.446 13 1.733 13 1.074 12.62.717 12.004.359 11.387.356 10.627.71 10.008 2.052 7.658 3.914 4.4 5.264 2.039Z"
}

.scroll-bar > .increment-button:pressed > .increment-arrow, .scroll-bar > .decrement-button:pressed > .decrement-arrow{
    -fx-padding: 3 3 3 3
}

/*
-fx-cursor: text;
-fx-highlight-fill: -fu-accent;
-fx-highlight-text-fill: -fu-text-1;
-fx-text-fill: -fu-text-1;
-fx-prompt-text-fill: -fu-text-2;


/*accent, border, background*/
/*top-l, top-r, bottom-r, bottom-l
-fx-background-color: -fu-stroke-rest, -fu-stroke-rest, -fu-foreground-rest;

*/

.combo-box-base.date-picker .text-input {
    -fx-background-color: -fu-accent, -fu-stroke-rest, -fu-foreground-rest;
    -fx-background-insets: 0 0 0 0, 0 0 2 0, 2 0 2 2;
    -fx-background-radius: 4 0 0 4, 4 0 0 4, 3 0 0 3;
    -fx-padding: .333333em .583em .444444em .583em;
    -fx-content-display: LEFT;
    -fx-cursor: text;
}
.combo-box-base.date-picker .arrow-button {
    -fx-background-color: -fu-accent, -fu-stroke-rest, -fu-foreground-rest;
    -fx-background-insets: 0 0 0 0, 0 0 2 0, 2 2 2 0;
    -fx-background-radius: 0 4 4 0, 0 4 4 0, 0 3 3 0;
    -fx-padding: .333333em .583em .444444em .583em;
}
.combo-box-base.date-picker:hover .text-input,
.combo-box-base.date-picker:hover .arrow-button {
    -fx-background-color: -fu-accent, -fu-stroke-hover, -fu-foreground-hover;
    -fx-text-fill: -fu-text-1;
}
.combo-box-base.date-picker:pressed .text-input,
.combo-box-base.date-picker:pressed .arrow-button {
    -fx-background-color: -fu-accent, -fu-stroke-pressed, -fu-foreground-pressed;
    -fx-text-fill: -fu-text-1;
}
.combo-box-base.date-picker:disabled .text-input,
.combo-box-base.date-picker:disabled .button {
    -fx-opacity: 1.0; /* Required otherwise input in .combo-box-base gets reduced opacity twice */
}

.date-picker > .arrow-button > .arrow {
    /* Calendario (icona) */
    -fx-shape: "M0,0v9h9V0H0z M2,8H1V7h1V8z M2,6H1V5h1V6z M2,4H1V3h1V4z M4,8H3V7h1V8z M4,6H3V5h1V6z M4,4H3V3h1V4z M6,8H5V7h1V8z M6,6H5 V5h1V6z M6,4H5V3h1V4z M8,8H7V7h1V8z M8,6H7V5h1V6z M8,4H7V3h1V4z";
    -fx-background-color: transparent /*-fu-text-1*/, -fu-stroke-rest;
    -fx-translate-y: 1; /* not needed if -fu-text-1 */
    -fx-padding: 0.416667em 0.416667em 0.333333em 0.333333em; /* 5 5 4 4 */
}
.date-picker-popup {
    -fx-background-color: -fu-stroke-rest, -fu-stroke-rest;
    -fx-background-insets: 0, 10;
    -fx-background-radius: 6, 5;
    -fx-alignment: CENTER; /* VBox */
    -fx-spacing: 0; /* VBox */
    -fx-padding: 0;
}
.date-picker-popup > .month-year-pane {
    -fx-padding: 1em;
    -fx-background-color: -fu-background-1, -fu-background-2;
    -fx-background-insets: 2, 2 2 4 2;
    -fx-background-radius: 5 5 0 0, 5 5 0 0;
}
.date-picker-popup > * > .spinner {
    -fx-spacing: 0.25em; /* 3 */
    -fx-alignment: CENTER;
    -fx-fill-height: false;
    -fx-font-family: "Segoe UI Semibold";
}
.date-picker-popup > * > .spinner > .button,
.date-picker-popup > .month-year-pane > .button {
    -fx-background-color: transparent;
    -fx-background-radius: 4;
    -fx-pref-width: 32px;
    -fx-pref-height: 34px;
}
.date-picker-popup > * > .spinner > .button:hover,
.date-picker-popup > .month-year-pane > .button:hover {
    -fx-background-color: -fu-foreground-hover;
}

.date-picker-popup > * {
    -fx-background-color: -fu-stroke-rest, -fu-foreground-rest;
    -fx-background-insets: 0, 0 2 2 2;
    -fx-background-radius: 5, 0 0 6 6;
}

.date-picker-popup > * > .spinner > .button > .left-arrow,
.date-picker-popup > * > .spinner > .button > .right-arrow,
.date-picker-popup > .month-year-pane > .button > .left-arrow,
.date-picker-popup > .month-year-pane > .button > .right-arrow {
    -fx-background-color: -fu-stroke-rest;
    -fx-effect: null;
}
.date-picker-popup > * > .spinner > .button > .left-arrow,
.month-year-pane > .button > .left-arrow {
    -fx-padding: 0.333333em 0.25em 0.333333em 0.166667em; /* 4 3 4 2 */
    -fx-shape: "M1.496 8.664C.94 8.293.606 7.669.606 7 .606 6.331.94 5.707 1.496 5.336 3.354 4.098 5.901 2.399 7.891 1.073 8.504.664 9.293.626 9.944.974 10.594 1.322 11 1.999 11 2.737 11 5.303 11 8.697 11 11.263 11 12.001 10.594 12.678 9.944 13.026 9.293 13.374 8.504 13.336 7.891 12.927 5.901 11.601 3.354 9.902 1.496 8.664Z";
}
.date-picker-popup > * > .spinner > .button > .right-arrow,
.month-year-pane > .button > .right-arrow {
    -fx-padding: 0.333333em 0.25em 0.333333em 0.166667em; /* 4 3 4 2 */
    -fx-shape: "M9.504 8.664C10.06 8.293 10.394 7.669 10.394 7 10.394 6.331 10.06 5.707 9.504 5.336 7.646 4.098 5.099 2.399 3.109 1.073 2.496.664 1.707.626 1.056.974.406 1.322 0 1.999 0 2.737 0 5.303 0 8.697 0 11.263 0 12.001.406 12.678 1.056 13.026 1.707 13.374 2.496 13.336 3.109 12.927 5.099 11.601 7.646 9.902 9.504 8.664Z";
}
.date-picker-popup > * > .spinner > .label {
    -fx-alignment: CENTER;
}
.date-picker-popup > .month-year-pane {
    -fx-spacing: .25em;
    -fx-alignment: CENTER;
    -fx-font-family: "Segoe UI Semibold";
}
.date-picker-popup > .month-year-pane > .secondary-label {
}

.date-picker-popup > .calendar-grid {
    -fx-padding: 1em;
}
.date-picker-popup > * > .date-cell {
    -fx-alignment: BASELINE_CENTER;
}
.date-picker-popup > * > .day-name-cell,
.date-picker-popup > * > .week-number-cell {
    -fx-text-fill: -fu-text-2;
}
.date-picker-popup > * > .day-cell {
    -fx-pref-width: 48px;
    -fx-pref-height: 48px;
    -fx-background-radius: 50%;
    -fx-background-insets: 4, 5;
}
.date-picker-popup > * > .day-cell:hover {
    -fx-background-color: -fu-stroke-hover, -fu-stroke-hover;
}
.date-picker-popup > * > .selected {
    -fx-background-color: -fu-accent, -fu-foreground-rest;
}
.date-picker-popup > * > .selected:hover {
    -fx-background-color: transparent, -fu-accent-hover;
}
.date-picker-popup > * > .today {
    -fx-background-color: -fu-accent, -fu-accent;
    -fx-text-fill: -fu-text-1;
}
.date-picker-popup > * > .previous-month.today,
.date-picker-popup > * > .next-month.today {
    -fx-text-fill: -fu-text-1; /* When selected day is visible as past month */
}
.date-picker-popup > * > .today:hover {
    -fx-background-color: -fu-accent, -fu-accent;
}

.slider .thumb {
    -fx-background-color: -fu-stroke-rest, -fu-foreground-rest, -fu-accent;
    -fx-background-insets: 0, 2, 6;
    -fx-background-radius: 100, 100, 100;
    -fx-max-width: 22;
    -fx-pref-width: 22;
    -fx-max-height: 22;
    -fx-pref-height: 22;
}

.slider .thumb:hover {
    -fx-background-color: -fu-stroke-hover, -fu-foreground-hover, -fu-accent;
    -fx-background-insets: 0, 2, 4;

}

.slider .thumb:pressed {
    -fx-background-color: -fu-stroke-hover, -fu-foreground-hover, -fu-accent;
    -fx-background-insets: 0, 2, 7;
}

.slider .track {
    -fx-background-color: -fu-stroke-rest;
    -fx-background-insets: 0, 1.5;
    -fx-background-radius: 0.25em, 0.25em, 0.166667em; /* 3 3 2 */
    -fx-padding: 0.25em;
}

.slider_red .track {
    -fx-background-color: -fu-stroke-rest,
        linear-gradient(to right, transparent, red);
}

.slider_green .track {
    -fx-background-color: -fu-stroke-rest,
    linear-gradient(to right, transparent, green);
}

.slider_blue .track {
    -fx-background-color: -fu-stroke-rest,
    linear-gradient(to right, transparent, blue);
}

.slider .axis-tick-mark, .slider .axis-minor-tick-mark {
    -fx-stroke: green;
    -fx-stroke-width: 1;
    -fx-smooth: false;
    -fx-stroke-type: outside
}

.rounded_pane {
    -fx-background-radius: 15;
}

.colorpicker {
    -fx-background-color: -fu-stroke-rest, -fu-foreground-rest;
    -fx-background-radius: 22, 20;
    -fx-background-insets: 0, 2;
}

.colorpickerpreset > .button {
    -fx-text-fill: transparent;
    -fx-background-color: -fu-stroke-rest, -fu-accent;
    -fx-background-insets: 0 0 0 0, 3 3 3 3;
    -fx-background-radius: 10, 8;
}

.colorpickerpreset > .colorpickerpreset_upper_checkmark {
    -fx-fill: transparent;
    -fx-font-size: 18;
}

.colorpickerpreset:selected > .colorpickerpreset_upper_checkmark {
    -fx-fill: -fu-text-1;
}

.colorpickerpreset > .colorpickerpreset_center_checkmark {
    -fx-fill: transparent;
    -fx-font-size: 20;
}

.colorpickerpreset:hover > .colorpickerpreset_center_checkmark {
    -fx-fill: white;
    -fx-font-size: 20;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,1), 14, 0.2, 0, 0);
}

.colorpickerpreset > .colorpickerpreset_under_checkmark {
    -fx-background-color: transparent;
    -fx-background-radius: 0 0 0 4;
}

.colorpickerpreset:selected > .colorpickerpreset_under_checkmark {
    -fx-background-color: -fu-stroke-rest;
}

.colorpickerbutton > .button {
    -fx-text-fill: transparent;
    -fx-background-color: -fu-stroke-rest, -fu-foreground-rest;
    -fx-background-insets: 0 0 0 0, 3 3 3 3;
    -fx-background-radius: 10, 8;
}

.colorpickerbutton:hover > .button {
    -fx-background-color: -fu-stroke-hover, -fu-foreground-hover;
}

.colorpickerbutton:pressed > .button {
    -fx-background-color: -fu-stroke-pressed, -fu-foreground-pressed;
}

.colorpickerbutton > .ikonli-font-icon {
    -fx-fill: -fu-stroke-rest;
}

.colorpickerbutton:hover > .ikonli-font-icon {
    -fx-font-size: 24;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,1), 14, 0.2, 0, 0);
}

.colorpickerbutton:pressed > .ikonli-font-icon {
    -fx-font-size: 24;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,1), 14, 0.2, 0, 0);
}