/* è molto più facile in caso avessimo più temi base avere tutti i css in un solo punto */
@import "org/wip/moneymanager/css/everycss.css";

/*
Design directions:
- Left menu (1/6 of the full with of the display) (fixed size)
- Minimum Dynamic size (1/2 of every direction of teh display) (1/4 total display size)
- Minimum Minimum size (800x600)
*/

.root {
    /* Accento */
    -fu-accent: red;
    -fu-accent-rest: -fu-accent;
    -fu-accent-hover: -fu-accent;
    -fu-accent-pressed: -fu-accent;
    -fu-accent-selected: -fu-accent;

    /* Variabili per la modalità chiara */
    -fu-background-1: rgb(255, 255, 255);
    -fu-background-2: rgb(245, 245, 245);
    -fu-background-3: rgb(234, 234, 234);
    -fu-background-4: rgb(224, 224, 224);

    -fu-foreground-rest: rgba(239, 239, 239, 1);
    -fu-foreground-hover: rgba(227, 227, 227, 1);
    -fu-foreground-pressed: rgba(247, 247, 247, 1);
    -fu-foreground-selected: rgba(210, 210, 210, 1);

    -fu-stroke-rest: rgba(198, 198, 198, 1);
    -fu-stroke-hover: rgba(198, 198, 198, 1);
    -fu-stroke-pressed: rgba(198, 198, 198, 1);
    -fu-stroke-selected: rgba(198, 198, 198, 1);

    -fu-text-1: #000000;
    -fu-text-2: #555555;

    /* Opacità per lo stato disabilitato */
    /* Opacità impostata al 80/70% */
}
