@import "org/wip/moneymanager/css/button.css";
@import "org/wip/moneymanager/css/text-input.css";
@import "org/wip/moneymanager/css/scroll-bar.css";
@import "org/wip/moneymanager/css/slider.css";
@import "org/wip/moneymanager/css/side-button.css";
@import "org/wip/moneymanager/css/transparent-button.css";
@import "org/wip/moneymanager/css/date-picker.css";
@import "org/wip/moneymanager/css/color-picker.css";
@import "org/wip/moneymanager/css/backgrounds.css";
@import "org/wip/moneymanager/css/random.css";

/*
Design directions:
- Left menu (1/6 of the full with of the display) (fixed size)
- Minimum Dynamic size (1/2 of every direction of teh display) (1/4 total display size)
- Minimum Minimum size (800x600)
*/

.root {
    /* Accento */
    -fu-accent: red;
    -fu-accent-rest: -fu-accent;
    -fu-accent-hover: -fu-accent;
    -fu-accent-pressed: -fu-accent;
    -fu-accent-selected: -fu-accent;

    /* Variabili per la modalità chiara */
    -fu-background-1: #ffffff;
    -fu-background-2: #ffffff;
    -fu-background-3: #ffffff;
    -fu-background-4: #d4d7d9;

    -fu-foreground-rest: rgba(255, 255, 255, 0.87); /* Colore del testo normale */
    -fu-foreground-hover: rgba(255, 255, 255 , 0.7); /* Colore del testo al passaggio del mouse */
    -fu-foreground-pressed: rgba(255, 255, 255 , 0.5); /* Colore del testo quando premuto */
    -fu-foreground-selected: rgba(255, 255, 255 , 0.87); /* Colore del testo selezionato */

    -fu-stroke-rest: rgba(224, 224, 224, 1);
    -fu-stroke-hover: rgba(224, 224, 224, 1);
    -fu-stroke-pressed: rgba(224, 224, 224, 1);
    -fu-stroke-selected: rgba(224, 224, 224, 1);

    -fu-text-1: #000000;
    -fu-text-2: #555555;

    /* Opacità per lo stato disabilitato */
    /* Opacità impostata al 80/70% */
}
