/* è molto più facile in caso avessimo più temi base avere tutti i css in un solo punto */
@import "org/wip/moneymanager/css/everycss.css";

/*
Design directions:
- Left menu (1/6 of the full with of the display) (fixed size)
- Minimum Dynamic size (1/2 of every direction of teh display) (1/4 total display size)
- Minimum Minimum size (800x600)
*/

.root {
    /* Accento */
    -fu-accent: red;
    -fu-accent-rest: -fu-accent;
    -fu-accent-hover: -fu-accent;
    -fu-accent-pressed: -fu-accent;
    -fu-accent-selected: -fu-accent;

    /* Variabili per la modalità scura */
    -fu-background-1: #0a0a0a;
    -fu-background-2: #141414;
    -fu-background-3: #1f1f1f;
    -fu-background-4: #292929;

    -fu-foreground-rest: rgba(26, 26, 26, 1);
    -fu-foreground-hover: rgba(38, 38, 38, 1);
    -fu-foreground-pressed: rgba(18, 18, 18, 1);
    -fu-foreground-selected: rgba(26, 26, 26, 1);

    -fu-stroke-rest: rgba(66, 66, 66, 1);
    -fu-stroke-hover: rgba(66, 66, 66, 1);
    -fu-stroke-pressed: rgba(66, 66, 66, 1);
    -fu-stroke-selected: rgba(66, 66, 66, 1);

    -fu-text-1: #ffffff;
    -fu-text-2: #737373;

    /* Opacità per lo stato disabilitato */
    /* Opacità impostata al 80/70% */
}

.tag-selector {
    -fx-background-color: -fu-stroke-rest, -fu-stroke-rest, -fu-foreground-rest;
    -fx-background-insets: 0 0 0 0, 0 0 2 0, 2 2 2 2;
    -fx-background-radius: 4, 3 3 0 0, 4;
    -fx-padding: .333333em .583em .444444em .583em;
}

.tag-selector:hover {
    -fx-background-color: -fu-accent, -fu-stroke-hover, -fu-foreground-hover;
    -fx-background-insets: 0.3 0.3 0 0.3, 0 0 2 0, 2 2 2 2;
}

.tag-selector:focused {
    -fx-background-color: -fu-accent, -fu-stroke-selected, -fu-foreground-selected;
    -fx-background-insets: 0.3 0.3 0 0.3, 0 0 3 0, 2 2 3 2;
}

.tag-selector-hb {
    -fx-background-color: -fu-foreground-rest;
}
.tag-selector:hover * > .tag-selector-hb {
    -fx-background-color: -fu-foreground-hover;
}
.tag-selector:focused * > .tag-selector-hb {
    -fx-background-color: -fu-foreground-selected;
}